html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  line-height: 1.15;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 1.6rem;
}

main {
  display: block;
}

.scroll-anchor {
  align-items: center;
  aspect-ratio: 1/1;
  background-color: #000;
  border-radius: 50%;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0;
  height: 5rem;
  justify-content: center;
  position: fixed;
  right: 1rem;
  text-decoration: none;
  z-index: 3;
}
.scroll-anchor__icon {
  color: #fff;
}

.card {
  background-color: #E7E7E7;
  height: 38rem;
  max-width: 70rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 10px 7px 18px -7px rgba(0, 0, 0, 0.24);
}
.card__image {
  aspect-ratio: 1/1;
  background-color: #c7bebe;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 17.8rem;
  width: 100%;
}
.card__text-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  height: 48%;
  overflow: hidden;
}
.card__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.card__header-title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}
.card__header-time {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.8rem;
  font-weight: 700;
  gap: 0.7rem;
  justify-content: center;
  text-align: right;
}
.card__recipe-details {
  align-items: baseline;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 0;
}
.card__recipe-details--ingredients-list {
  list-style: none;
  max-height: 10rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
}
.card__recipe-details--ingredient {
  font-size: 1.2rem;
  padding: 1px;
  width: 100%;
}
.card__recipe-details--ingredient-name {
  font-weight: bold;
  margin-right: 0.5rem;
}
.card__recipe-details--description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  font-size: 1.2rem;
  overflow: hidden;
  width: 100%;
}

.dropdown-menu {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  height: 7rem;
  justify-content: flex-start;
  position: relative;
  transition: width 350ms ease-out;
  width: 20rem;
}
@media screen and (max-width: 600px) {
  .dropdown-menu {
    width: 100%;
  }
}
.dropdown-menu.is-active {
  border-radius: 0.5rem 0.5rem 0 0;
  transition: width 350ms ease-out;
  width: 66.7rem !important;
}
@media screen and (max-width: 600px) {
  .dropdown-menu.is-active {
    width: 100% !important;
  }
}
.dropdown-menu.is-active .dropdown-menu__sort-label img {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}
.dropdown-menu--ingredients {
  background-color: #3282f7;
}
.dropdown-menu--devices {
  background-color: #68d9a4;
}
.dropdown-menu--utensils {
  background-color: #ed6454;
}
.dropdown-menu__sort-label {
  display: block;
  right: 2rem;
  position: relative;
  pointer-events: none;
}
.dropdown-menu__sort-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  height: 90%;
  padding: 0 0 0 2.5rem;
  text-align: left;
  width: 90%;
}
.dropdown-menu__sort-input:focus {
  outline: none;
}
.dropdown-menu__sort-input::placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.dropdown-menu__options {
  border-radius: 0 0 0.5rem 0.5rem;
  color: #fff;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  height: auto !important;
  left: 0;
  list-style: none;
  margin-top: -0.5rem;
  max-height: 45rem;
  min-width: 100%;
  overflow-y: scroll;
  padding-left: 0;
  position: absolute;
  scrollbar-width: none;
  top: 7.5rem;
  transition: height 450ms ease-out;
  width: 100%;
  z-index: 1;
}
.dropdown-menu__options::-webkit-scrollbar {
  display: none;
}
.dropdown-menu__options--ingredients {
  background-color: #3282f7;
  display: none;
}
.dropdown-menu__options--ingredients.is-active {
  display: grid;
}
.dropdown-menu__options--devices {
  background-color: #68d9a4;
  display: none;
}
.dropdown-menu__options--devices.is-active {
  display: grid;
}
.dropdown-menu__options--utensils {
  background-color: #ed6454;
  display: none;
}
.dropdown-menu__options--utensils.is-active {
  display: grid;
}
@media screen and (max-width: 600px) {
  .dropdown-menu__options {
    grid-template-columns: repeat(2, 1fr);
  }
}
.dropdown-menu__option {
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  justify-content: flex-start;
  margin: 0.5rem;
  padding: 1rem 2rem;
  text-transform: capitalize;
}
.dropdown-menu__option.ingredients:hover {
  background-color: #0966ed;
}
.dropdown-menu__option.devices:hover {
  background-color: #3fcf8b;
}
.dropdown-menu__option.utensils:hover {
  background-color: #e83a26;
}

.tag {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  max-height: 3rem;
  padding: 0.5rem 1rem;
}
.tag__text {
  color: #fff;
  font-size: 1.4rem;
  padding-right: 1rem;
  text-transform: capitalize;
}
.tag__cross {
  cursor: pointer;
  color: #fff;
}
.tag.ingredients {
  background-color: #3282f7;
}
.tag.ingredients:hover {
  background-color: #0966ed;
}
.tag.devices {
  background-color: #68d9a4;
}
.tag.devices:hover {
  background-color: #3fcf8b;
}
.tag.utensils {
  background-color: #ed6454;
}
.tag.utensils:hover {
  background-color: #e83a26;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  padding: 2.5rem 0;
}
.header a {
  text-decoration: none;
}
.header__title {
  color: #d04f4f;
  margin-top: 0.5rem;
  margin: 0;
  text-align: center;
}

.main-index {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  margin-bottom: 5rem;
}
.main-index__content-container {
  width: 90%;
}
.main-index__input-container {
  position: relative;
  width: 100%;
}
.main-index__glass-icon-svg {
  aspect-ratio: 1/1;
  height: 3.2rem;
}
.main-index__input {
  background-color: #E7E7E7;
  border-radius: 0.5rem;
  border: none;
  box-sizing: border-box;
  color: #000;
  height: 7rem;
  padding: 0 2.5rem;
  width: 100%;
}
.main-index__label {
  position: absolute;
  right: 1rem;
  top: 2rem;
}
.main-index__sort-inputs-container {
  margin-top: 1.5rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 600px) {
  .main-index__sort-inputs-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main-index__results-container {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .main-index__results-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .main-index__results-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.main-index__tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2.5rem;
}
.main-index__error-image {
  width: 15rem;
}
.main-index__error-text {
  color: #aaaaaa;
  font-size: 1.8rem;
  font-weight: 500;
}

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: 1/1/2/4;
  margin-top: 10rem;
}

/*# sourceMappingURL=index.css.map */
