.tag {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  max-height: 3rem;
  padding: 0.5rem 1rem;

  &__text {
    color: $white;
    font-size: 1.4rem;
    padding-right: 1rem;
    text-transform: capitalize;
  }

  &__cross {
    cursor: pointer;
    color: $white;
  }
  &.ingredients {
    background-color: $dodger-blue
  }
  &.ingredients:hover {
    background-color: $dodger-blue-hover
  }
  &.devices {
    background-color: $medium-aquamarine
  }
  &.devices:hover {
    background-color: $medium-aquamarine-hover
  }
  &.utensils {
    background-color: $flattered-flamingo
  }
  &.utensils:hover {
    background-color: $flattered-flamingo-hover
  }
}