html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	line-height: 1.15;
  font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
  font-size: 1.6rem;
}

main {
	display: block;
}