$black: #000;
$ginger-flower: #d04f4f;
$placebo: #E7E7E7;
$white: #fff;
$oil-of-lavender: #c7bebe;
$dodger-blue: #3282f7;
$dodger-blue-hover: #0966ed;
$medium-aquamarine: #68d9a4;
$medium-aquamarine-hover: #3fcf8b;
$flattered-flamingo: #ed6454;
$flattered-flamingo-hover: #e83a26;