$mq-tablet: 768px;
$mq-small-mobile: 320px;
$mq-mobile: 480px;
$mq-small-tablet: 600px;
$mq-medium-tablet: 700px;
$mq-large-tablet: 900px;
$mq-desktop: 1024px;
$mq-large-desktop: 1200px;
$mq-extra-large-desktop: 1440px;
$mq-extra-extra-large-desktop: 1920px;