.scroll-anchor {
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: #000;
  border: 2px solid #000;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 0;
  z-index: 3;
}
.scroll-anchor__icon {
  color: #000;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    padding: 25px 0;

    a {
        text-decoration: none;
    }
  }
  
  .header__title {
      color: #d04f4f;
      text-align: center;
  }

  .main-index {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    margin-bottom: 50px;
  }

  .main-index__content-container {
    width: 90%;
}

.main-index__input-container {
  position: relative;
  width: 100%;
}

.main-index__input {
  background-color: #E7E7E7;
  border-radius: 5px;
  border: none;
  color: #000;
  height: 70px;
  padding: 24px;
  width: 100%;
}

.main-index__label {
  position: absolute;
  right: 20px;
  top: 20px;
}